<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Alizhan Kalniyazov</title>
  <link rel="icon" href="favicon.ico">
  <style>
  body {
    background-color:hsl(89, 43%, 51%);
  }
  hr {
    border-style:none;
    background-color:black;
    height:3px;
  }
  h3 {
    color: #8B0000;
    background-color: DarkGreen;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  h4 {
    color: #8B0000;
    background-color: DarkGreen;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
  p {
    color: white;
    border-style: inset;
    border-width: 7px;
    border-color: coral;
  }
  div {
    border-style: inset;
    border-width: 7px;
    border-color: coral;
  }
  .note {
  font-size: 120%;
  color: black;
}
p.italic {
  font-style: italic;
}
}
</style>
</head>
<body style="background-color:hsl(89, 43%, 51%);">
  <h1> Alizhan <span class="note"> Kalniyazov </span></h1>
  <p>I am a student of <span class="note"> Astana IT University</span></p>
  <hr>
  <h3>Top 3 things which I love </h3>
  <ul>
    <li>swim</li>
    <li>astrology</li>
    <li>mathematic</li>
  </ul>
  <h4>Top 3 things which I hate</h4>
  <ul>
  <li>music</li>
  <li>Vegetables</li>
  <li>computer games</li>
</ul>
<hr>
<p><img src="pic.jpeg" alt="It was a good tonight"></p>
<p class="italic">This is me during an in-depth study.</p>
<p><a href="https://t.me/alizhan_kalniyazov">You are welcome</a></p>
<p>Travel</p>
<div>I want to more travel and these countries which i want to travel.</div>
<table>
  <tbody>
    <tr>
      <th>Turkey</th>
      <th>USA</th>
      <th>Australia</th>
    </tr>
    <tr>
      <td>Istanbul</td>
      <td>New-York</td>
      <td>Canberra</td>
    </tr>
    <tr>
      <td>Antalya</td>
      <td>Los-Angeles</td>
      <td>Sydney</td>
    </tr>
    <tr>
      <td>Izmit</td>
      <td>San-Francisco</td>
      <td>Melburn</td>
    </tr>
  </tbody>
</table>
<hr>
<p>Choose your favorite Programming language:</p>

<form>
  <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">C#</label><br>
  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="css">Java</label><br>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript">
  <label for="javascript">Python</label>
</form>
<p>Books</p>
<div>These is my favourite books.</div>
<ul>
  <li>Steve Jobs by Walter Isaacson</li>
  <li>HOMO SAPIENS by Yuval Noi Kharari</li>
  <li>Capitalism by Carl Marks</li>
</ul>

</body>
</html>
